<h3 class="main-header">Welcome to Stock Marketing</h3>
<div class="operation-alignment">
<p><b>You Can Perform the Following Operations by clicking Company Tab</b></p>
<ul>
    <li>Register Company</li>
    <li>Get All Company Information</li>
    <li>Get Company Information Based on Company ID/Code</li>
    <li>Delete Company By ID/Code</li>    
</ul>
</div>
<i style="margin-left:280px"><b>Note:Please Click on the Hyperlink/Company ID in View All Company Information Section to Manage your Company Stock</b></i>
